.headerSection{
    background-color: var(--primary-color);
    color: var(--text-color);
    border-bottom: 1px solid var(--component-color);
}

.headerSection .basicInformationSection{
    border-bottom: 1px solid var(--component-color);
    padding: 10px;
}
.headerSection .basicInformation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.headerSection .basicInformation .singleUserNavigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.headerSection .basicInformation .singleUserNavigation span{
    cursor: pointer;
}

.headerSection .logoUserCartSection{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.headerSection .logoUserCartSection .logoAndCountry{
    width: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSection .logoUserCartSection .logoAndCountry .logoContainer .logo{
    width: 140px;
    height: 30px;
    cursor: pointer;
}

.headerSection .logoUserCartSection .logoAndCountry .logoContainer .logo img{
    width: 100%;
    height: 100%;
}

.headerSection .logoUserCartSection .logoAndCountry .filterByCountry select{
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--component-color);
    cursor: pointer;
}

.headerSection .logoUserCartSection .searchContainer{
    width: 65%;
}

.headerSection .logoUserCartSection .searchContainer input{
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--component-color);
    background-color: var(--background-color);
}

.headerSection .logoUserCartSection .userAndCart{
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.headerSection .logoUserCartSection .userAndCart .userSection, .cartSection{
    padding: 5px 10px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--component-color);
}

.headerSection .logoUserCartSection .userAndCart .userSection .user{
    cursor: pointer;
}

.headerSection .logoUserCartSection .userAndCart .cartSection .cart{
    cursor: pointer;
}

.headerSection .categoryAndNavbarSection{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.headerSection .categoryAndNavbarSection .categorySection .showCategoriesBtn{
    background-color: var(--btn-color);
    color: #fff;
    border-radius: 30px;
    text-align: center;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.headerSection .categoryAndNavbarSection .categorySection .showCategoriesBtn i{
    margin-right: 5px;
    margin-left: 5px;
}