.headerSection{
    background-color: var(--primary-color);
    color: var(--text-color);
}

.headerSection .basicInformation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.headerSection .basicInformation .singleUserNavigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
